body{
    background: #ffa600;
}
.nav{
    background: #e29300;
}
.fot{
    font-weight: bold;
    border-color: black;
    color: black;
}
.iframe{
    width: 100%;
    height: 100%;
    border-color: #ffa600;
}
.fluid{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}
.fl{
    min-height: 100%;
    height: 100%;
    width: 100%;
}
